#sitebanner
{
  background-image: url('/css/sunshine-min.jpg');
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
#sitename
{
  font-size: 30px;
  color: white;
  font-weight: 900;
}
#loginform
{
  position: fixed;
  right: 0;
  top: 5px;
}
#sitefooter
{
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url('/css/sunshine-min.jpg');
  color: white;
  font-weight: bolder;
  font-style: italic;
  z-index: 9999;
}
.maincontent
{
  background-image: url('/css/sunshine-min.jpg');
  background-size: cover;
}
