.outer-container {
  background-image: url('sunshine-min.jpg');
}
#signup::before
{
  right: -50%;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 2s;
  transition-timing-function: ease-in;
}
#signup::after {
  position: absolute;
  right: 5%;
  display: block;
}
input,button,select {
  padding: 5px;
  text-indent: 2px;
  border-radius: 20px;
}
#sitename {
  font-size: 30px;
  color: white;
  font-weight: 900;
}
#sitefooter {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-style: italic;
}
