.outer-container {
  background-color:rgb(224, 112, 9);
}
#trophy{
  position: relative;
  left:46%;
}
#lead{
  text-align: center;
}
#friendslist,#friendssuggest{
  list-style-type: none;
  background-color:rgba(9, 122, 4, 1);
  color: white;
  border-radius: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}
.addsmiley{
  border: 0;
  margin: 0;
  padding-left: 0.2em;
  background: rgba(0,0,0,0);
}
#hasuralink{
  color: white;
  text-decoration: underline;
  font-weight: bolder;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
#hasuralink:hover{
  font-size: 150%;
}
#deletepost{
  vertical-align: top;
  float: right;
  display: inline-block;
}
#profilephotobutton{
  background-color: rgba(0,0,0,0);
  margin: 0;
  padding: 0;
}
#posts{
  overflow-y: scroll;
  max-height: 50em;
  max-width: 100%;
}
#posts::-webkit-scrollbar-track #shinetable::-webkit-scrollbar-track{
  background-color: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: #7ec0ee;
}
#posts::-webkit-scrollbar,#shinetable::-webkit-scrollbar{
	width: 6px;
	background-color: inset 0 0 6px rgba(0,0,0,0.3);
}

#posts::-webkit-scrollbar-thumb,#shinetable::-webkit-scrollbar-thumb{
	background-color:  #7ec0ee;
}
#posts:-ms-scrollbar-track,#shinetable:-ms-scrollbar-track{
  background-color: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: #7ec0ee;
}
#posts:-ms-scrollbar,#shinetable:-ms-scrollbar{
	width: 6px;
	background-color: inset 0 0 6px rgba(0,0,0,0.3);
}

#posts:-ms-scrollbar-thumb,#shinetable:-ms-scrollbar-thumb{
	background-color:  #7ec0ee;
}
#posts::-moz-scrollbar-track,#shinetable::-moz-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #7ec0ee;
}
#posts::-moz-scrollbar,#shinetable::-moz-scrollbar{
	width: 6px;
	background-color: #7ec0ee;
}
#posts::-moz-scrollbar-thumb,#shinetable::-moz-scrollbar-thumb{
background-color: rgba(255,255,255,0.5);
}

body::-webkit-scrollbar-track{
  background-color: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: #7ec0ee;
}
body::-webkit-scrollbar{
	width: 6px;
	background-color: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb{
	background-color:  #7ec0ee;
}
body:-ms-scrollbar-track{
  background-color: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: #7ec0ee;
}
body:-ms-scrollbar{
	width: 6px;
	background-color: inset 0 0 6px rgba(0,0,0,0.3);
}

body:-ms-scrollbar-thumb{
	background-color:  #7ec0ee;
}
body::-moz-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #7ec0ee;
}
body::-moz-scrollbar{
	width: 6px;
	background-color: #7ec0ee;
}

body::-moz-scrollbar-thumb{
background-color: rgba(255,255,255,0.5);
}

@keyframes fadeInOut {
0%{opacity: 0;}
100%{opacity: 1;}
}
.sprite {
  background-image: url('spritesheet.png');
  background-repeat: no-repeat;
  display: block;
  max-width: 100%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.nosprite{
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

#shineheading{
  color: black;
  background-color: rgb(222, 247, 148);
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
}
.home-sprite-friendshine  {
  opacity: 1;
  width: 275px;
  height: 180px;
  zoom:100%;
  background-position: -200px -200px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.home-sprite-friendshine-fadeOut {
  opacity: 0;
  width: 275px;
  height: 180px;
  zoom:100%;
  background-position: 0 -490px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.home-sprite-charityshine {
  opacity: 1;
  width: 512px;
  height: 512px;
  background-position: -200px -780px;
  zoom:50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.home-sprite-charityshine-fadeOut {
  opacity: 0;
  width: 512px;
  height: 512px;
  background-position: 0 -1236px;
  zoom:50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.home-sprite-earthshine {
  opacity: 1;
  width: 512px;
  height: 512px;
  background-position: -200px -1692px;
  zoom:50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.home-sprite-earthshine-fadeOut {
  opacity: 0;
  width: 512px;
  height: 512px;
  zoom:50%;
  background-position: 0 -2148px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.home-sprite-socialshine {
  opacity: 1;
  width: 600px;
  height: 389px;
  background-position: -200px -2604px;
  zoom:50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.home-sprite-socialshine-fadeOut {
  opacity: 0;
  width: 600px;
  height: 389px;
  background-position: 0 -2998px;
  zoom:50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}


.home-sprite-healthshine {
  opacity: 1;
  width: 290px;
  height: 290px;
  filter: saturate(200%);
  zoom:100%;
  background-position: -200px -3393px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.home-sprite-healthshine-fadeOut {
  opacity: 0;
  width: 290px;
  height: 290px;
  zoom:100%;
  filter: saturate(200%);
  background-position: 0 -3593px;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.home-sprite-friendshine-fadeIn{
  opacity: 0;
  width: 275px;
  height: 180px;
  zoom:100%;
  background-position: 0 0;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.sprite-friendshine {
  opacity: 1;
  width: 275px;
  height: 180px;
  background-position: -200px -200px;
  zoom: 50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.sprite-friendshine-fadeOut {
  opacity: 0;
  width: 275px;
  height: 180px;
  background-position: 0 -490px;
  zoom: 50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.sprite-charityshine {
  opacity: 1;
  width: 512px;
  height: 512px;
  background-position: -200px -780px;
  zoom: 25%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.sprite-charityshine-fadeOut {
  opacity: 0;
  width: 512px;
  height: 512px;
  background-position: 0 -1236px;
  zoom: 25%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.sprite-earthshine {
  opacity: 1;
  width: 512px;
  height: 512px;
  background-position: -200px -1692px;
  zoom: 25%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.sprite-earthshine-fadeOut {
  opacity: 0;
  width: 512px;
  height: 512px;
  background-position: 0 -2148px;
  zoom: 25%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.sprite-socialshine {
  opacity: 1;
  width: 600px;
  height: 389px;
  background-position: -200px -2604px;
  zoom: 25%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

.sprite-socialshine-fadeOut {
  opacity: 0;
  width: 600px;
  height: 389px;
  background-position: 0 -2998px;
  zoom: 25%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}


.sprite-healthshine {
  opacity: 1;
  width: 290px;
  height: 290px;
  filter: saturate(200%);
  background-position: -200px -3393px;
  zoom: 50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.sprite-healthshine-fadeOut {
  opacity: 0;
  width: 290px;
  height: 290px;
  filter: saturate(200%);
  background-position: 0 -3593px;
  zoom: 50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}
.sprite-friendshine-fadeIn{
  opacity: 0;
  width: 275px;
  height: 180px;
  background-position: 0 0;
  zoom: 50%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease;
}

#post_title{
  word-wrap: break-word;
}
#messages{
  display: block;
  margin-top: 1%;
}
#friendsmessages{
  display: block;
  margin-top: 10%;
  margin-left: 10%;
}
#homemessages{
  padding-left: 10%;
}
.message{
  width: 100%;
  color: white;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}
.demessage{
  opacity: 0;
  color: white;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}
#postpane{
  background-color:rgba(9, 122, 4, 1);
  border: 1px solid black;
  width: 35%;
  height: 50em;
  margin-top: 0;
  padding-right: 0;
  margin-right: 0;
}
#friendsbuttons{
  margin-top: 1em
}
#post_image{
  max-width : 100%;
  max-height: 5%;
}
#newposttext{
  width: 50%;
}
#newspane{
  border-bottom: 2px solid rgba(88, 185, 83,1);
  border-radius: 5px;
  max-width: 76%;
}
#post_title{
  font-size: 200%;
  font-weight: bolder;
}
#post{
  border: 1px solid black;
  font-weight: bolder;
  position: relative;
  left: -2em;
  list-style-type: none;
  max-width: 100%;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#uploadpane{
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bolder;
  text-decoration: underline;
}
#profilename{
  cursor: default;
  color: white;
  margin-top: 5px;
  display: block;
  font-weight: bolder;
  text-decoration: underline;
}
#friendssuggestbutton{
  margin-top: 10%;
  padding-left:10%;
}
#friendslistbutton{
  margin-top: 10%;
}
#contentarea{
  margin: 0;
  padding: 0;
}
#friendspane{
  background-color:rgba(9, 122, 4, 1);
  border: 1px solid black;
  height: 50em;
  width:15%;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
}
.btn{
  background-color: rgba(0,0,0,0);
}
.btn:focus {
  outline:none;
  color: white;
}
#postbutton{
  border-radius : 10px;
  padding: 0;
  margin: 0;
}
#friend{
  margin-left: -40px;
}
.regpane
{
  position: absolute;
  top: 25%;
}
.postauthimg{
  box-shadow: 5px 5px 10px black;
}
.friendimg{
  width: 50px;
  height: auto;
  box-shadow: 5px 5px 10px black;
}
figcaption{
  display: inline;
  vertical-align: top;
}
.sessionbutton{
  float: right;
}
#sessionbutton{
  margin: 0;
  padding: 0;
}
.shineicon{
  position: relative;
  left: 45%;
  height: 30px;
  width: 30px;
}
#centerform{
  transform: translate(25%,60%);
}
.profileimage{
  position: relative;
  left: 0%;
  width: 10em;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
  opacity: 0;
  box-shadow: 5px 5px 10px black;
}
.profileimageappeared{
  position: relative;
  left: 0%;
  width: 10em;
  opacity: 1;
  box-shadow: 5px 5px 10px black;
}
#shinetable{
  text-align: center;
  border-radius: 5px;
  overflow-y: scroll;
}
#lead{
  color: white;
  font-weight: bolder;
  text-decoration: underline;
}
table{
  border: 1px solid black;
  text-align: center;
  background-color: rgb(222, 247, 148);
  border-radius: 5px;
}
caption{
  cursor: default;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
button{
  outline: none;
  background: none;
  border-radius: 15px;
  color: white;
}
.btn:disabled{
  opacity: 1;
}
th{
  text-align:center;
}
.otpform
{
  display: none;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: -2;
  width: 350px;
  height: 250px;
  position: absolute;
  right: 10%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}
#signupdiv
{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}
#signup {
  position: absolute;
  right: 10%;
  animation-name: signupscroll;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
#profileimage{
  animation-name:fadeIn;
  animation-duration:3s;
  animation-timing-function:ease;
  animation-iteration-count: 1;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
  box-shadow: 5px 5px 10px black;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes signupscroll {
  0%{
    right: -30%;
    opacity: 0;
  }
  100%{
    right: 10%;
    opacity: 1;
  }
}
::-webkit-textarea-placeholder{
  color: rgba(255,255,255,0.5);
}
::-webkit-input-placeholder{
  color: rgba(255,255,255,0.5);
}
::-moz-input-placeholder{
  color: rgba(255,255,255,0.5);
}
::-moz-textarea-placeholder{
  color: rgba(255,255,255,0.5);
}
::-moz-input-placeholder{
  color: rgba(255,255,255,0.5);
}
:-ms-textarea-placeholder{
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder{
  color: rgba(255,255,255,0.5);
}
:-ms-textarea-placeholder{
  color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder{
  color: rgba(255,255,255,0.5);
}
textarea:-webkit-autofil{
  -webkit-box-shadow: 0 0 0 30px rgb(9, 122, 4) inset;
  -webkit-text-fill-color: rgba(255,255,255,0.5);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(9, 122, 4) inset;
    -webkit-text-fill-color: rgba(255,255,255,0.5);
}
input,select,textarea {
  outline: none;
  max-width: 100%;
  text-indent: 10px;
  margin: 3px;
  background-color: rgb(9, 122, 4);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
}
.passlabel{
  display: inline-block;
  opacity: 0;
  font-size: 0.85em;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.passshow{
  display: inline-block;
  opacity: 1;
  font-size: 0.85em;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.jumbotron{
  width: 100%;
}
.like{
  background-color: rgba(255,255,255,0);
}
.likers{
  font-size: 1em;
  margin-left: 1px;
  margin-right: 1px;
}
#sitebanner
{
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease();
  animation-iteration-count: 1;
  margin-top: 1em;
}
#siteslogan{
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease();
  animation-iteration-count: 1;
}
select{
  min-width: 20%;
}
#loginform
{
  animation-name: fadeIn;
  animation-duration:2s;
  position: absolute;
  right: 0;
}
.siteheader{
  margin: -1em;
  padding: 0;
}
#siteh1{
  font-weight: 900;
}
#sitename {
  font-size: 30px;
  color: white;
  margin-bottom: 1em;
  font-weight: 900;
}
#sitefooter {
  background-color: rgba(0, 0, 0,0.5);
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-timing-function: ease();
  animation-iteration-count: 1;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  min-width: 100%;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-style: italic;
}
