body,html{
  height: 100%;
  width: 100%;
}
.outer-container {
  background-image: url('sunshine-min.jpg');
}
#friendslist{
  list-style-type: none;
  margin-left: -20px;
  background-color: rgba(126,192,238,0.75);

}
#friend{
  margin-left: -40px;
}
.regpane
{
  position: absolute;
  top: 25%;
}
.friendimg{
  width: 50px;
  height: auto;
}
figcaption{
  display: inline;
  vertical-align: top;
}
.sessionbutton{
  position:relative;
  margin-left: 5px;
  margin-right: 5px;
  left: 65%;
  margin-top: 10px;
}
#centerform
{
  transform: translate(25%,60%);
}
.profileimage{
  position: relative;
  left: 25%;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
  opacity: 0;
}
.profileimageappeared{
  position: relative;
  left: 25%;
  opacity: 1;
}
#shinetable{
  background-color: rgb(222, 247, 148);
  position: relative;
  left: 50%;
  height: 200%;
}
td,tr,th{
  border: 1px solid black;
}
button{
  outline: none;
  background-color: #7ec0ee;
  border-radius: 15px;
  color: white;
}
.otpform
{
  display: none;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  z-index: -2;
  width: 350px;
  height: 250px;
  position: absolute;
  right: 10%;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}
#signupdiv
{
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease;
}
#signup {
  position: absolute;
  right: 10%;
  animation-name: signupscroll;
  animation-duration: 2s;
  animation-timing-function: ease-in();
  animation-iteration-count: 1;
}
#profileimage{
  animation-name:fadeIn;
  animation-duration:3s;
  animation-timing-function:ease-in;
  animation-iteration-count: 1;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease-in;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  75%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes signupscroll {
  0%{
    right: -30%;
    opacity: 0;
  }
  100%{
    right: 10%;
    opacity: 1;
  }
}
::-webkit-input-placeholder{
  color: white
}
::-moz-input-placeholder{
  color: white
}
:-moz-input-placeholder{
  color: white
}
:-ms-input-placeholder{
  color: white
}
::-ms-input-placeholder{
  color: white
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgba(126,192,238,0.75) inset;
    -webkit-text-fill-color: white;
}
input,select {
  outline: none;
  max-width: 100%;
  text-indent: 10px;
  margin: 3px;
  background-color: rgba(126,192,238,0.75);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  color: white;
}
.passlabel{
  display: inline-block;
  opacity: 0;
  font-size: 0.85em;
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.passshow{
  display: inline-block;
  opacity: 1;
  font-size: 0.85em;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
#sitebanner
{
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in();
  animation-iteration-count: 1;
  margin-top: 10px;
}
#loginform
{
  animation-name: fadeIn;
  animation-duration:4s;
  position: absolute;
  right: 0;
}
#sitename {
  font-size: 30px;
  color: white;
  font-weight: 900;
}
#sitefooter {
  animation-name: fadeIn;
  animation-duration: 6s;
  animation-timing-function: ease-in();
  animation-iteration-count: 1;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-style: italic;
}
